{% extends 'main/baseLogin.html' %}
{% block content %}
{% load static %}
<style>
    input{
      background-color: white;
      translate: 1s;
    }
    input:hover{
      background-color: rgba(255, 255, 255, 0.822);
    }
    .main-card{
        width: 350px;
        height: auto;
        margin: auto;
        margin-top: 5%;
        background-color: rgb(0, 149, 175);
        box-shadow: 5px 5px 10px grey;
        position: relative;
        overflow: hidden;
        border-radius: 15px;
    }
    .main-card > .login-logo{
        background-color: white;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom-right-radius: 80px;
        border-bottom-left-radius: 80px;
    }
    .main-card > .logInput{
        margin: auto;
        text-align: center;
        display: grid ;
        grid-row: 1;
        
    }
    .login-top-input{
        height: 50px;
        width: 80%;
        border-left: 1px solid rgba(131, 131, 131, 0.411);
        border-right: 1px solid rgba(131, 131, 131, 0.411);
        border-top: 1px solid rgba(131, 131, 131, 0.411);
        border-bottom: none;
        outline: none;
        border-top-right-radius: 15px;
        border-top-left-radius: 15px;
        padding-left:20px;
    }
    .login-middle-input{
        height: 50px;
        width: 80%;
        border-left: 1px solid rgba(131, 131, 131, 0.411);
        border-right: 1px solid rgba(131, 131, 131, 0.411);
        border-top: none;
        border-bottom: none;
        outline: none;
        padding-left:20px;
    }
    .login-button-input{
        height: 50px;
        width: 80%;
        border-left: 1px solid rgba(131, 131, 131, 0.411);
        border-right: 1px solid rgba(131, 131, 131, 0.411);
        border-bottom: 1px solid rgba(131, 131, 131, 0.411);
        border-top: none;
        outline: none;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        padding-left:20px;
    }
    .login-submit{
        height: 50px;
        width: 80%;
        border: 1px solid rgba(131, 131, 131, 0.411);
        background-color: rgba(0, 0, 0, 0.39);
        color: white;
        border-top: none;
        outline: none;
        border-radius: 15px;
        margin-top: 15px;
        transform: 1s;
    }
    .login-submit:hover{
        height: 50px;
        width: 80%;
        border: 1px solid rgba(131, 131, 131, 0.411);
        background-color: rgba(0, 0, 0, 0.692);
        color: white;
        border-top: none;
        outline: none;
        border-radius: 15px;
        margin-top: 15px;
        transform: 1s;
    }
    .login-label{
        font-size: 25px;
        color: white;
    }
    .login-register{
        text-align: center;
        margin-top: 15px;
        background-color: white;
        height: 100%;
        border-top-right-radius: 55px;
        border-top-left-radius: 55px;
        padding-top: 20px;
        padding-bottom: 20px;
        font-size: 18px;
    }
    .main-card > .logInput > .alert-dismissible{
        background-color: rgba(255, 0, 0, 0.815);
        color: white;
    }
</style>
<div class="main-card">
    <div class="login-logo">
        <img src="{% static 'dist/img/umelogo.png' %}" alt="" width="80">
        <img src="{% static 'dist/img/mainlogo.png' %}" alt="" width="100">
    </div>
    <div class="logInput">
        {% if message %}
        <div class="alert alert-danger alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endif %}
        <label class="login-label" for="userName">Register</label>
        <form action="register" method="POST">
          {% csrf_token %}
            <input type="text" class="login-top-input" placeholder="User Name" id="userName" name="userName" value="{{ form_data.field_username }}">
            <input type="text" class="login-middle-input" placeholder="First Name" id="firstName" name="firstName" value="{{ form_data.field_firstname }}">
            <input type="text" class="login-middle-input" placeholder="Last Name" id="lastName" name="lastName" value="{{ form_data.field_lastname }}">
            <input type="text" class="login-middle-input" placeholder="Email" id="email" name="email" value="{{ form_data.field_Gemail }}">
            <input type="password" class="login-middle-input" placeholder="Password" id="password1" name="password1">
            <input type="password" class="login-button-input" placeholder="Retype password" id="password2" name="password2">
            <input type="submit" class="login-submit" value="SUBMIT">
        </form>
    </div>
    <div class="login-register">
        <a href="{% url 'login' %}">Login</a>
    </div>
</div>
{% endblock %}
{% block javascript %}
  
{% endblock %}